@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}
#topdiv{
	margin-top: 10px;
	width: 100%;
	height: 50px;
	clear: both;
}
#topdivul{
	float: right;
	padding-right: 10px;
}
#topdivul li{
	display: inline;
	text-decoration: none;
	width: 150px;
}
#maindiv{
	width: 100%;
	height: 500px;
}
table{
	border-collapse: collapse;
	margin: 0 auto;
}
td{
	text-align: center;
	width: 200px;
}
